<!DOCTYPE html>
<html lang="en">
<head>
	<title>Social Feeds</title>
	<link href="/static/css/team.css" rel="stylesheet" type="text/css">
    <style type="text/css">
<!--
.style1 {color: #FF0000}
-->
    </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container" >
				<a class="brand" href="javascript:void()"><img src="/static/images/social.png" width="250" height="50"></a>
				  <a href="index.html" href="javascript:void(0)"><font color="blue">Home</font></a>
		  </div>
	  </div>
	</div>
	<center>
	<div class="container main">
		<h1 class="title style1" style="cambria">Social Feeds Team</h1>
<div id="hcard-Roselle Pasigay" class="vcard" >
			<p><img src="/static/images/team/roselle.jpg" class="photo" width="250" height="200" ></p>
			<div class="profile">
				<h2>
					<a class="fn" title="Roselle Pasigay">Roselle C. Pasigay</a>
				</h2>
				E-mail: <a class="email" href="mailto:rosellepasigay@gmail.com">rosellepasigay@gmail.com</a><br>
				<span class="tel">
					<span class="type">Mobile:</span>
					<span class="value">0915-481-0786</span><br>
				</span>
				<span class="age">
					<span class="type">Age:</span>
					<span class="value">20 years old</span>
					</span><br>
				<span class="birth">
					<span class="type">Birthday:</span>
					<span class="value">March 04, 1992</span>
				</span>	<br>			
				
			</div>
			<div id="hcard-Meelanie Reyes" class="vcard" >
			<p><img src="/static/images/team/melai.jpg" class="photo" width="250" height="200" ></p>
			<div class="profile">
				<h2>
					<a class="fn" title="Roselle Pasigay">Meelanie M. Reyes</a>
				</h2>
				E-mail: <a class="email" href="mailto:reyesmelai@gmail.com">reyesmelai@gmail.com</a><br>
				<span class="tel">
					<span class="type">Mobile:</span>
					<span class="value">0935-321-8833</span><br>
				</span>
				<span class="age">
					<span class="type">Age:</span>
					<span class="value">20 years old</span>
				</span><br>
				<span class="birth">
					<span class="type">Birthday:</span>
					<span class="value">November 23, 1991</span>
				</span><br>
				
			</div>
		<div id="hcard-Angelica Olitoquit" class="vcard" >
			<p><img src="/static/images/team/angel2.jpg" class="photo" width="250" height="200" ></p>
			<div class="profile">
				<h2>
					<a class="fn" title="Roselle Pasigay">Angelica V. Olitoquit</a>
				</h2>
				E-mail: <a class="email" href="mailto:angelica.olitoquit@gmail.com">angelica.olitoquit@gmail.com</a><br>
				<span class="tel">
					<span class="type">Mobile:</span>
					<span class="value">0906-647-9122</span><br>
				</span>
				<span class="age">
					<span class="type">Age:</span>
					<span class="value">20 years old</span>
				</span><br>
				<span class="birth">
					<span class="type">Birthday:</span>
					<span class="value">October 04, 1992</span>
				</span><br>
				
			</div>
		<div id="hcard-Felimon Quindoza Jr." class="vcard" >
			<p><img src="/static/images/team/fhem.jpg" class="photo" width="250" height="200" ></p>
			<div class="profile">
				<h2>
					<a class="fn" title="Roselle Pasigay">Felimon P. Quindoza Jr.</a>
				</h2>
				E-mail: <a class="email" href="mailto:kennbalobalo.1790@gmail.com">rosellepasigay@gmail.com</a><br>
				<span class="tel">
					<span class="type">Mobile:</span>
					<span class="value">0905-791-5721</span><br>
				</span>
				<span class="age">
					<span class="type">Age:</span>
					<span class="value">21 years old</span>
					</span><br>
					<span class="birth">
					<span class="type">Birthday:</span>
					<span class="value">September 15, 1991</span>
				</span>
				
			</div>
			</div>
			</div>
	</div>
	</center>
	
</body>
</html>